#noteFormOpen{
  height: calc(100% - 100px);
  width: 100%;
  padding: 10px;
  border: none;
}


#noteFormClose{
  height: calc(100% - 100px);
  width: calc(100%/3*2);
  padding: 10px;
  border: none;
}

#noteHeaderOpen,
#noteHeaderClose{
  width: 100%;
  text-align: center;
  color: #c3c3c3;
}

#noteHeaderOpen time, 
#noteHeaderOpen span {
  display: block;
  width: 100%;
}

#noteHeaderClose time, 
#noteHeaderClose span {
  display: block;
  width: calc(100%/3*2);
}

#noteHeader time {
  font-weight: bold;
}

#noteHeader span {
  font-size: 0.9rem;
  font-weight: bold;
}
