.frame {
  background-color: #fafafa;
  flex: 1;
}


.folders {
  height: 100%;
  padding: 0 0 0 40px;
}

.folders h1 {
  display: grid;
  height: 50px;
  margin: 0;
  align-content: center;
  font-size: 0.9rem;
  color: #a1a1a1;
  transform: translateX(-15px);
}

.folders ul {
  height: 75%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}


.folders ul li {
  height: 75px;
  margin: 0;
}

#notes {
  display: flex;
  height: 100%;
  padding: 0 0 0 2rem;
  flex-direction: column;
  overflow-y: auto;
}

#note textarea {
  height: calc(100% - 100px);
}

#hidden {
  display: none;
}

